<div id="main-menu-mobile" class="main-menu-mobile">
  {% assign mainmenu = site.data.menus.main | sort: 'weight'  %}
    <ul>
        {% for item in mainmenu %}
        <li class="{% if item.url == page.url %}active{% endif %}">
            <a href="{{ item.url | relative_url }}">{{ item.name }}</a>
            {% if item.sublinks %}
            {% for sublink in item.sublinks %}
            <li>
                <a href="{{ site.url }}{{ site.baseurl }}{{ sublink.url }}">{{ sublink.name }}</a>
            </li>
            {% endfor %}
            {% else %}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
