<div class="sub-footer">
  <div class="container">
      <div class="row">
          <div class="col-12 col-md-2 d-flex justify-content-center justify-content-md-start">
              <div class="logo">
                  <img height="80" alt="{{ site.title }}" src="{{ site.footer.logo | relative_url }}" />
              </div>
          </div>
          <div class="col-12 col-md-3">
              <ul class="copyright">
                  {% assign footermenu = site.data.menus.footer | sort: 'weight'  %}
                  {% for item in footermenu %}
                  {% if item.url %}
                  <li>
                      <a href="{{ item.url | relative_url }}">{{ item.name }}</a>
                  </li>
                  {% else %}
                  <li>
                      <a>{{ item.name }}</a>
                  </li>
                  {% endif %}
                  {% if item.sublinks %}
                  {% for sublink in item.sublinks %}
                  <li class="ml-1">
                      <a href="{{ sublink.url | relative_url }}">{{ sublink.name }}</a>
                  </li>
                  {% endfor %}
                  {% else %}
                  {% endif %}
                  {% endfor %}
              </ul>
          </div>
          <div class="col-12 col-md-3">
              <ul class="copyright">
                  {% assign footermenu3 = site.data.menus.footer3 | sort: 'weight'  %}
                  {% for item in footermenu3 %}
                  {% if item.url %}
                  <li>
                      <a href="{{ item.url | relative_url }}">{{ item.name }}</a>
                  </li>
                  {% else %}
                  <li>
                      <a>{{ item.name }}</a>
                  </li>
                  {% endif %}
                  {% if item.sublinks %}
                  {% for sublink in item.sublinks %}
                  <li class="ml-1">
                      <a href="{{ sublink.url | relative_url }}">{{ sublink.name }}</a>
                  </li>
                  {% endfor %}
                  {% else %}
                  {% endif %}
                  {% endfor %}
              </ul>
          </div>
          <div class="col-12 col-md-4 d-flex justify-content-center justify-content-md-end">
              <img height="30" src="{{ site.footer.tech1 | relative_url }}" />
          </div>
      </div>
    <div class="row mt-5">
      <div class="col-12">
          <div class="sub-footer-inner">
              <div class="copyright">
                  <h4>Want to chat?</h4>
                  <p>Email us at <a href="mailto:mymeal@takesub.com.au">mymeal@takesub.com.au</a></p>
              </div>
              {% if site.data.social %}
              {% include social.html %}
              {% endif %}
              {% if site.footer.copyright_text %}
              <div class="copyright-right">
                  <p>{{ site.footer.copyright_text }}</p>
                  <p>Made with ❤ in Melbourne</p>
              </div>
              {% endif %}
          </div>
      </div>
    </div>
  </div>
</div>