.strip {
  background: white;
  background-repeat: no-repeat;
}
.strip-white {
  background-color: white;
}
.strip-grey {
  background-color: $white-offset;
}
.strip-bg {
    background-image: url(/images/illustrations/takesub-bg-image1.png);
    background-color: white;
    height: 400px;
}
.strip-sel-container {
    overflow: hidden;
    border-radius: 20px;
    height: 562px;
}
.strip-sel-parent {
    margin-left: -140px;
}
    .strip-sel-parent:hover .strip-selection {
        opacity: 100%;
        transition: ease;
        transition-duration: 0.2s;
        cursor: pointer;
    }
.strip-selection {
    opacity: 50%;
    margin-top: -585px;
    transition: ease-out;
    transition-duration: 0.3s;
}
.strip-diagonal {
  transform: skewY(5deg);
  padding-bottom: 50px;
  margin-bottom: 65px;
  > div {
    transform: skewY(-5deg);
  }
}
.strip-primary-gradient {
  background-image: linear-gradient(to right, $primary, $secondary);
}
.strip-primary-gradient-top-bottom {
  background-image: linear-gradient(to bottom, $primary, $secondary);
}
.strip-primary {
  background-color: $primary;
}
.strip-secondary {
  background-color: $secondary;
}

.strip-diagonal-right {
  margin-top: -100px;
  transform: skewY(-5deg);
  padding-bottom: 100px;
  > div {
    transform: skewY(5deg);
  }
}

.strip-diagonal-left {
  margin-top: -100px;
  transform: skewY(5deg);
  padding-bottom: 100px;
  > div {
    transform: skewY(-5deg);
  }
}

.strip-bg-contain {
  background-size: contain;
}

.strip-bg-cover {
  background-size: cover;
}

.strip-center{
    align-content:center;
    height:400px;
}

.vid-section {
    display: flex;
    align-items: center;
    width: 100%;
    height: 28vw;
}

.img-section {
    display: flex;
    align-items: center;
    width: 100%;

    img {
        max-width: 80%;
        max-height: 630px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
}

.strip-video {
    left: 0;
    width: 60%;
    height: inherit;
    -o-object-fit: cover;
    object-fit: cover;
}

.clip-right {
    clip-path: polygon(0% 0%, 88% 0, 98% 50%, 88% 100%, 0% 100%);
}

.clip-polygon {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.shadow-wrap {
    filter: drop-shadow(0px 13px 18px rgba(50, 50, 93, 0.25));
    width: 60%;
    height: inherit;
    object-fit: cover;

    video {
        width: 100% !important;
    }
}

.appbg-section {
    align-items: center;
    display: flex;
    height: 500px;
    background-image: url(/images/illustrations/takesub-bg-appbg3.png),linear-gradient(102deg, #ffffff 0%, #f1e5d6 35%, #fff1e0 100%);
    background-position-x: right;
    background-repeat: no-repeat;
    box-shadow: inset -6px -6px 15px rgba(0,0,0,0.2);
    background-attachment: fixed;
}

.appbgchef-section {
    align-items: center;
    display: flex;
    height: 500px;
    background-image: url(/images/illustrations/takesub-bg-appbg3.png),linear-gradient(102deg, #ffffff 0%, #f1e5d6 35%, #fff1e0 100%);
    background-position-x: left;
    background-repeat: no-repeat;
    box-shadow: inset -6px -6px 15px rgba(0,0,0,0.2);
    background-attachment: fixed;
}

.strip-caption {
    z-index: 1;
    width: 23rem;
    text-align: left;
    margin-left: 10vw;
    margin-right: 5px;
    padding-left: 10px;
    border-left-style: solid;
    border-left-color: #E5261F;
}

.strip-caption2 {
    z-index: 1;
    width: 23rem;
    text-align: left;
    margin-left: 10vw;
    margin-right: auto;
    padding-left: 10px;
    border-left-style: solid;
    border-left-color: #E5261F;
}

.strip-caption3 {
    z-index: 1;
    width: 23rem;
    text-align: left;
    margin-left: auto;
    margin-right: 10vw;
    padding-left: 10px;
    border-left-style: solid;
    border-left-color: #E5261F;
}

.strip-text {
    text-align: center;
}

.strip-text-h2 {
    margin-bottom: 80px;
}

.strip-bgimg {
    width:250px;
    margin-bottom:30px;
}

.strip-text span {
    color: #ea524d;
}

.strip-text-row {
    align-items: center;
    margin-bottom:80px;
}

.strip-text-row p {
    max-width: 380px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.strip-flairimg1 {
    position: absolute;
    top: 230px;
    right: 4vw;
    width:35px;
}

.strip-flairimg2 {
    position: absolute;
    bottom: -50px;
    left: 2vw;
    width: 180px;
}

.strip-flairimg3 {
    position: absolute;
    top: -50px;
    left: 2vw;
    width: 150px;
}

@media only screen and (max-width: 768px) {
    .strip-bg {
        height: 500px;
        background-size: cover;
        background-position-x: center;
    }
    .strip-center {
        align-content: flex-end;
        padding-bottom: 10px;
        height:500px;
    }

    .strip-flairimg2 {
        left: 10vw;
    }

    .strip-flairimg3 {
        left: 10vw;
    }

    .vid-section, .img-section {
        height: 100%;
        flex-direction: column;

        img {
            width: 90%;
        }
    }

    .strip-video {
        width: 100%;
        height: 280px;
        clip-path: polygon(0% 0%, 78% 0, 98% 50%, 78% 100%, 0% 100%);
    }

    .shadow-wrap {
        width: 90%;
    }

    .strip-caption {
        width:unset;
        margin-left: 3vw !important;
        margin-right: 16px;
        margin-top: 60px;
    }

    .strip-caption2 {
        margin-left:3vw;
        margin-right: 16px;
    }
}

@media only screen and (max-width: 1024px) {
    .vid-section {
        height: 400px;
        justify-content: center;
    }

    .img-section img {
        max-width: 60%;
        margin-right: 20px;
    }

    .strip-bgimg {
        width: 300px;
    }

    .strip-text-row p {
        max-width: 280px;
    }

    .strip-flairimg2 {
        bottom: 0px;
        width: 100px;
    }

    .strip-flairimg3 {
        top: -10px;
        width: 80px;
    }
}

@media only screen and (max-width: 1400px) {
    .strip-caption {
        text-align: center;
        margin-left: 5px;
    }

    .strip-caption2 {
        background-color: #ffffffcc;
        border-end-end-radius: 50px;
        border-start-end-radius: 10px;
    }
}