---
title: TakeSub - Fortnightly Meals From Local Restaurants
layout: default
bodyClass: page-home
---

<div class="intro">
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
                {{ content }}
                {% if site.homepage.show_call_box %}
                {% include call.html show_button=false %}
                {% endif %}
            </div>
            {% if page.intro_image %}
            <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
                <video class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" autoplay muted loop>
                    <source src="{{ page.intro_video | relURL }}" type="video/mp4">
                    <img alt={{ page.title }} src="{{ page.intro_image | relURL }}" />
                </video>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<!--<div class="strip">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row justify-content-start">
      {% for service in site.services %}
      <div class="col-12 col-md-4 mb-1">
        <div class="service service-summary">
          <div class="service-content">
            <h2 class="service-title">
              <a href="{{ service.url | relative_url }}">{{ service.title }}</a>
            </h2>
            <p>{{ service.content | markdownify | strip_html | truncate: 100 }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <a class="button button-primary" href="{{ "services" | relative_url }}">View All Services</a>
      </div>
    </div>
  </div>
</div>-->

<section class="strip vid-section">
    <div class="overlay"></div>
    <video class="strip-video" autoplay muted loop>
        <source src="{{ page.bg_video | relURL }}" type="video/mp4">
        <img src="{{ page.bg_videostatic | relURL }}" />
    </video>
    <div class="strip-caption">
        <h3>{{ page.bg_title }}</h3>
        <p>{{ page.bg_desc }}</p>
    </div>
</section>

{% if site.data.features %}
<div class="strip strip-white">
    <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
        <div class="row justify-content-center">
            {% for feature in site.data.features %}
            <div class="col-12 col-md-6 col-lg-4 mb-2">
                <div class="feature">
                    {% if feature.image %}
                    <div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image | relative_url }}" /></div>
                    {% endif %}
                    <h2 class="feature-title">{{ feature.title }}</h2>
                    <div class="feature-content">{{ feature.description }}</div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endif %}

<section class="appbg-section">
    <div class="strip-caption2">
        <h3>{{ page.bg_apptitle }}</h3>
        <p>{{ page.bg_appdesc }}</p>
    </div>
</section>

<section class="strip">
    <div class="container strip-text">
        <h2 class="strip-text-h2">TakeSub's <span>Culinary Beliefs</span></h2>
        <div class="row strip-text-row">
            <div class="col-12 col-md-6 col-lg-6 mb-2 order-lg-1 order-2">
                <h2>Redefine <span>convenience</span> meals</h2>
                <p>{{ page.belief1 }}</p>
            </div>
            <div class="col-12 col-md-6 col-lg-6 mb-2 order-lg-2 order-1">
                <img class="strip-bgimg" src="{{ page.beliefimg1 | relURL }}" />
                <img class="strip-flairimg1" src="{{ page.beliefflair1 | relURL }}" />
            </div>
        </div>
        <div class="row strip-text-row">
            <div class="col-12 col-md-6 col-lg-6 mb-2 order-lg-1 order-1">
                <img class="strip-bgimg" src="{{ page.beliefimg2 | relURL }}" />
                <img class="strip-flairimg2" src="{{ page.beliefflair2 | relURL }}" />
            </div>
            <div class="col-12 col-md-6 col-lg-6 mb-2 order-lg-2 order-2">
                <h2>Narrate <span>stories</span> behind each meal</h2>
                <p>{{ page.belief2 }}</p>
            </div>
        </div>
        <div class="row strip-text-row">
            <div class="col-12 col-md-6 col-lg-6 mb-2 order-lg-1 order-2">
                <h2>Empower <span>local</span> food community</h2>
                <p>{{ page.belief3 }}</p>
            </div>
            <div class="col-12 col-md-6 col-lg-6 mb-2 order-lg-2 order-1">
                <img class="strip-flairimg3" src="{{ page.beliefflair3 | relURL }}" />
                <img class="strip-bgimg" src="{{ page.beliefimg3 | relURL }}" />
            </div>
        </div>
    </div>
</section>

<div class="strip strip-bg">
    <div class="container">
        <div class="row strip-center">
            <div class="col-12 col-md-7 col-lg-6 order-1 order-md-1">
            </div>
            <div class="col-12 col-md-5 col-lg-6 order-2 order-md-2">
                {% include call.html show_button=false %}
            </div>
        </div>
    </div>
</div>