---
layout: default
---

<div class="pb-3 pt-3 pt-md-5 pb-md-5">
    <div class="row justify-content-start">
        <div class="intro col-12 col-lg-4 px-4 flex-column">
            {{ content }}
            <button class="button-57 mt-3" role="button" onclick="location.href='mailto:chef@takesub.com.au'"><span class="text">Reach out</span><span>Let's go!</span></button>
        </div>
        <div class="col-12 col-lg-8 pt-3 pt-md-0">
            <img class="feature-heroimg" src="{{ page.imagebg | relURL }}" />
        </div>
    </div>
</div>